@import "https://unpkg.com/open-props";

/* define keyframes here */

:root {
    --duration-xx-fast: 100ms;
    --duration-x-fast: 200ms;
    --duration-fast: 300ms;
    --duration: 400ms;
}

* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

img,
svg {
    max-width: 100%;
    height: auto;
    display: block;
}
.dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#closeModalDialog {
    order: 1;
    /* Move the close button to the end of the flex container */
}
dialog {
    border: none;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 400px;
    /* Adjust the width as needed */
    /* margin: 20px auto; */
}

/* Styles for the modal header */
.dialog__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}#closeModalDialog {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
}
#closeModalDialog svg {
    width: 20px;
    height: 20px;
    fill: #333;
    /* Adjust the color as needed */
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
 
}

@keyframes fade-out {
   
    to {
        opacity: 0;
    }

}

@keyframes slide-from-bottom {
    from {
        transform: translateY(30px);
    }
 
}

@keyframes slide-to-bottom {
   
    to {
        transform: translateY(30px);
    }

}
::view-transition-old(root){
    animation: 90ms ease-in both fade-out,
    300ms ease both slide-to-bottom;
}
::view-transition-new(root){
    animation: 210ms ease-out 90ms both fade-in,
    300ms ease both slide-from-bottom;
}